@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
  }

  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }

  h1 {
    color: #3498db;
    margin-bottom: 10px;
  }

  p {
    color: #555;
    margin-bottom: 20px;
  }

  .score {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .message {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }

  .gameFeatures{
    text-decoration: none;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }

  .gameFeatures:hover {
    background-color: #2980b9;
  }
  /* POPUP MESSAGE  */
  .box {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 17px;
    align-items: center;
}

.box a {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(254, 126, 126, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}